.HeaderLogin {
  display: flex;
  flex-flow: row-reverse;
  justify-content: end;
  margin-top: 7em !important;
}

.color-blue {
  color: blue;
}

.color-grey {
  color: #cecece;
}

.WebSiteName {
    text-align: center;
    color: blue;
    margin-top: 1em;
    margin-bottom: 1em;
}
.InputUser{
    width: 100%;
    text-align: right;
    padding-bottom: 0.5em;
}
.btnHolder{width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 1em;
}
.pad-center{   
     padding-right: 1.4em;
    }